<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="/static/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/device-mockups.css" rel="stylesheet">

    <script src="/static/lib/ionic/js/ionic.bundle.js"></script>
    <script src="/static/lib/localforage.min.js"></script>
    <script src="/static/lib/angular-localForage.min.js"></script>
    <script src="/static/lib/lodash.min.js"></script>
    <script src="/static/lib/md5.min.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>

    <script src="/static/js/controllers/menu.js"></script>
    <script src="/static/js/controllers/note.js"></script>
    <script src="/static/js/controllers/note-detail.js"></script>
    <script src="/static/js/controllers/login.js"></script>
    <script src="/static/js/controllers/register.js"></script>

    <script src="/static/js/services/note.js"></script>
    <script src="/static/js/services/util.js"></script>
    <script src="/static/js/services/auth.js"></script>
</head>

<body>
        <div ng-app="starter" class="device-mockup iphone5">
            <div class="device">
                <div class="screen">
                    <ion-nav-bar class="bar-calm nav-title-slide-ios7" delegate-handle="mainNav">
                        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> 返回</ion-nav-back-button>
                    </ion-nav-bar>
                    <ion-nav-view animation="slide-left-right"></ion-nav-view>
                </div>
                <div class="button">

                </div>
            </div>
        </div>
</body>

</html>