<ion-view title="{{title}}"  hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="toggleShowDelete()">
            删除
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list show-delete="shouldShowDelete">
            <ion-item ng-repeat="note in notes track by $index" ng-class="{completed:note.done}" ng-click="noteDetail(note)">
                {{note.content}}
                <ion-option-button ng-show="note.done" class="button-positive" ng-click="toggleDone(note)">
                    取消
                </ion-option-button>
                <ion-option-button ng-hide="note.done" class="button-positive" ng-click="toggleDone(note)">
                    完成
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled"
                       ng-click="delete($event,note.id)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

