<ion-view title="{{'注册'}}">

    <ion-content class="has-header register-content" padding="true" scroll="false">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">用户名</span>
                <input type="text" ng-model="registerForm.username" placeholder="请输入用户名">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">邮箱*</span>
                <input type="email" ng-model="registerForm.email" placeholder="请输入邮箱">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">密码*</span>
                <input type="password" ng-model="registerForm.password" placeholder="请输入密码">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">确认密码*</span>
                <input type="password" ng-model="registerForm.confirmPassword" placeholder="请输入密码">
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="register()">
            注册
        </button>
    </ion-content>

</ion-view>